extends layout.pug
include mixins/user-form.pug

block append style
  include css/form.css

block content
  h1 Vulnerable Bank

  h3 Login

  if invalid
    p.error-message Invalid username or password

  +user-form('/login', 'Login')

  p If you don't have an account you can register 
    a(href="/register") here